---
on:
  schedule:
    - cron: 0 0 * * 5
  workflow_dispatch: {}

permissions:
  contents: write
  packages: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: oven-sh/setup-bun@v2

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: maven

      - run: bun main.ts
